---
layout: default
name: Berlin Summer Program
---

<div class="jumbotron">
  <div class="media">
    <img class="media-object" src="slides/brandenburg-gate-417890_1920.jpg" height="350px" title="Brandenburg Gate">

    <div class="media-body info" padding="10px">
      <h1 class="media-heading">Berlin Summer Program</h1>
      Live and study in the capital city of Europe's biggest economy!
    </div>
  </div>

</div>
